* {
    padding: 0;
    margin: 0
}
@font-face {
    font-family: "SF Display";
    font-weight: 200;
    src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 700;
     font-style: normal;
   }
  
  @font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 400;
     font-style: normal;
   }
  
  @font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 300;
     font-style: normal;
   }

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
.container-fluid {
    margin: 0px;
    padding: 0px;
    width: 100vw;
}


@media (min-width: 1200px ) {

    .fwork-header {
        margin: 15px;
        font-family: 'Open Sans', sans-serif;
        margin: 0px;
        padding: 0px
    }
    .fwork-title-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .fwork-image {
        padding-left: 120px;
        padding-top: 100px;
        margin-bottom: 40px;
        height: 20vh;
    }
    .fwork-topo {
        /* display: flex;
        padding: 0 240px; */
        width: 100vw;
        height: 70vh;
        padding: 0px 240px;
    }
    h1 {
        font-family: 'Gotham';
        text-transform: uppercase;
        font-size: 30px;
        width: 90px;
        height: 55px;
        font-weight: bold;
        margin: 50px 0px 50px 120px;
    }
    i  {
        color: #E54026;
        margin-left: 10px;
    }
    h2 {
        font-family: 'Gotham';
        font-weight: 700;
        margin-top: 70px;
        margin-bottom: 50px;
        height: 44px;
        display: block;
        padding-left: 240px;
    }
    h3 {
        font-family: 'Gotham';
        font-weight: 400;
        font-size: 20px;
        padding: 22px 240px;
    }
    h4 {
        font-family: 'Gotham';
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .fwork-image-title {
        width: 56vw
    }
    
    .fwork-title {
        font-family: "SF Display";
        width: 65%;
        font-size: 26px;
        color: #222222;
        opacity: 1;
        line-height: 35px;
        text-align: justify;
    }
    .fwork-image-slide{
        top: 30px;
        width: 100vw;
        height: 600px;
    }
    .fwork-image-slide-value {
        width: 100vw;
        /* background: transparent 0% 0% no-repeat padding-box; */
        opacity: 1;
        padding: 10px 240px;
    }
    .fwork-image-slide-brand {
        padding: 10px 240px;
        width: 100vw;
        height: 50vh;
        background: transparent 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .fwork-colour{
        display: flex;
        width: 100vw;
    }

    .fwork-orange{
        width: 50vw;
        background: #FF8700 0% 0% no-repeat ;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fwork-orange>p, .fwork-red>p, .fwork-grey>p {
        color: #fff;
        line-height: 20px;
        font-size: 25px;
    }
    .fwork-red {
        width: 25vw;
        height: 400px;
        background: #D31E01 0% 0% no-repeat ;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .fwork-grey {
        width: 25vw;
        height: 400px;
        background: #333333 0% 0% no-repeat ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fwork-orange-red {
        width: 75vw;
        height: 15px;
        background: transparent linear-gradient(90deg, #FF8700 0%, #D31E01 100%) 0% 0% no-repeat;
    }
    .fwork-grey-footer {
        width: 25vw;
        height: 15px;
        background: #333333 0% 0% no-repeat ;
    }
    .fwork-image-slide-conthrax {
        /* width: 45vw;
        height: 526px;
        padding: 0px; */
        /* padding-left: 240px; */
        width: 100%;
        height: 70vh;
    }
    .fwork-image-slide-gotham {
        /* width: 500px;
        height: 429px;
        margin-left: 240px;
        border: 1px solid #E2E2E2; */
        width: 100%;
        /* height: 429px; */
        height: 60vh;
        border: 1px solid #E2E2E2;
    }
    .fwork-stationery {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        padding: 0px;
        z-index: 30;
    }
    .fwork-image-stationery {
        margin-top: 0;
        padding: 0;
        width: 60vw;
        height: 800px;
        padding: 0px;
    }
    .fwork-image-stationery-2 {
        width: 40vw;
        height: 800px;
    }
    .fwork-topo-conthrax {
        float: left;
        width: 49%;
    }
    .fwork-top-gotham {
        /* padding: 0 0px 0px 33px; */
        width: 49%;
        float: right;
    }

    .fwork-image-slide-stationery {
        width: 100vw;
        height: 800px;
        padding: 0px;
    }
    .fwork-image-slide-stationery-3 {
        width: 50vw;
        height: 800px;
        padding: 0px;
    }
    .fwork-image-slide-stationery-5 {
        width: 100vw;
        height: 830px;;
        /* padding: 0px; */
    }
    .fwork-image-slide-stationery-4 {
        width: 33.33vw;
        height: 650px;
        padding: 0px;
    }
    .fwork-image-slide-stationery-6_1 {
        height: 681px;
        width: 100vw;
    }
    .fwork-icon-idea {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 25px;
    }
    .fwork-idea-concept {
        width: 114px;
        height: 70px; 
        margin-bottom: 25px;  
    }
    .idea-concept {
        color: #000;
        margin: auto 20px;
    }
    .fwork-brand {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 30px 240px;
    }
    .fwork-brand-logo {
        height: 92px;   
        margin: 30px;        
    }
    .fwork-image-idea {
        width: 100vw;
        padding: 0px;
        height: 900px;
    }
}

@media (min-width: 992px ) and (max-width: 1199px) { 
  
    .fwork-header {
        margin: 15px;
        font-family: 'Open Sans', sans-serif;
        margin: 0px;
        padding: 0px
    }
    .fwork-title-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    h1 {
        text-transform: uppercase;
        font-size: 18px;
        width: 90px;
        height: 55px;
        font-weight: 700;
        margin: 30px 0px 20px 120px;
    }
    i  {
        color: #E54026;
        margin-left: 10px;
    }
    h2 {
        font-family: 'Gotham';
        font-weight: 700;
        margin-top: 70px;
        margin-bottom: 50px;
        height: 44px;
        display: block;
        padding-left: 120px;
    }
    h3 {
        font-family: 'Gotham';
        font-weight: 100;
        font-size: 20px;
        padding: 10px 120px;
    }
    .fwork-topo {
        width: 100vw;
        height: 70vh;
        padding: 0px 120px;
    }
    .fwork-image {
        padding-left: 70px;
        padding-top: 85px;
        margin-bottom: 40px;
        height: 15vh;
    }
    .fwork-image-title {
        width: 60vw;
    }
    .fwork-title {
        width: 65%;
        font-size: 15px;
        color: #222222;
        opacity: 1;
        line-height: 26px;
        font-family: "San Francisco";
        text-align: justify;
    }
    .fwork-image-slide{
        top: 30px;
        width: 100vw;
        height: 600px;
    }
    .fwork-image-slide-value {
        width: 100vw;
        /* background: transparent 0% 0% no-repeat padding-box; */
        opacity: 1;
        padding: 10px 120px;
    }
    .fwork-image-slide-brand {
        padding: 10px 120px;
        width: 100vw;
        height: 47vh;
        background: transparent 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .fwork-topo-conthrax {
        float: left;
        width: 49%;
    }
    .fwork-top-gotham {
        /* padding: 0 0px 0px 33px; */
        width: 49%;
        float: right;
    }
    .fwork-colour{
        display: flex;
        width: 100vw;
    }

    .fwork-orange{
        width: 50vw;
        background: #FF8700 0% 0% no-repeat ;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fwork-orange>p, .fwork-red>p, .fwork-grey>p {
        color: #fff;
        line-height: 20px;
        font-size: 25px;
    }
    .fwork-red {
        width: 25vw;
        height: 30vh;
        background: #D31E01 0% 0% no-repeat ;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .fwork-image-idea {
        width: 100vw;
        padding: 0px
    }
    .fwork-grey {
        width: 25vw;
        height: 30vh;
        background: #333333 0% 0% no-repeat ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fwork-orange-red {
        width: 75vw;
        height: 15px;
        background: transparent linear-gradient(90deg, #FF8700 0%, #D31E01 100%) 0% 0% no-repeat;
    }
    .fwork-grey-footer {
        width: 25vw;
        height: 15px;
         /* height: 30px; */
        background: #333333 0% 0% no-repeat ;
    }

    .fwork-image-slide-conthrax {
        width: 100%;
        height: 60vh;
    }
    .fwork-image-slide-gotham {
        width: 100%;
        height: 55vh;
        border: 1px solid #E2E2E2;
    }
    .fwork-stationery {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        padding: 0px;
        z-index: 30;
    }
    .fwork-image-stationery {
        margin-top: 0;
        padding: 0;
        width: 60vw;
        height: 550px;
        padding: 0px;
    }
    .fwork-image-stationery-2 {
        width: 40vw;
        height: 550px;
        /* padding-right: 120px; */
        /* margin-left: 110px; */
        /* border: 1px solid #E2E2E2; */
    }

    .fwork-image-slide-stationery {
        width: 100vw;
        height: 600px;
        padding: 0px;
    }
    .fwork-image-slide-stationery-3 {
        width: 50vw;
        height: 600px;
        padding: 0px;
    }
    .fwork-image-slide-stationery-5 {
        width: 100vw;
        height: 600px;;
        /* padding: 0px; */
    }
    .fwork-image-slide-stationery-4 {
        width: 33.33vw;
        height: 373px;
        padding: 0px;
    }
    .fwork-image-slide-stationery-6_1 {
        height: 300px;
        width: 100vw;
    }
    .fwork-icon-idea {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 25px;
    }
    .fwork-idea-concept {
        width: 114px;
        height: 70px;   
    }
    .idea-concept {
        color: #000;
        margin: auto 20px;
    }
    .fwork-brand {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 30px auto;
    }
    .fwork-brand-logo {
        width: 300;
        height: 92px;           
    }

}

@media (max-width: 768px) { 
    html{
        width: 100vw !important;
    }
    .fwork-header {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
    .fwork-title-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .fwork-image {
        width: 30vw;
        padding-left: 22px;
        padding-top: 10vw;
        margin-bottom: 25px;
        height: 14vh;
    }
    .fwork-image-title {
        width: 85vw;
    }
    .fwork-topo {
        display: flex;
    }
    h1 {
        text-transform: uppercase;
        font-size: 14px;
        width: 80px;
        height: 48px;
        font-weight: 700;
        margin: 22px 0px 20px 15px;
    }
    i  {
        color: #E54026;
        margin-left: 10px;
    }
    h2 {
        margin-top: 20px;
        margin-bottom: 30px;
        display: block;
        font-size: 16px;
        margin-left: 20px;
        height: auto;
        font-weight: 700;
    }
    h3 {
        font-weight: 100;
        font-size: 14px;
        padding: 10px 25px;
    }
    h4 {
        font-weight: 100;
        font-size: 14px;
        margin-bottom: 10px;
        padding-left: 25px;
    }
    
    .fwork-title {
        width: 85%;
        font-size: 10px;
        color: #222222;
        opacity: 1;
        line-height: 12px;
        font-family: "San Francisco";
        text-align: justify;
    }
    .fwork-colour{
        display: flex;
        width: 100vw;
    }
    .fwork-image-slide{
        top: 30px;
        width: 100%;
        height: 200px;
    }
    .fwork-image-slide-value {
        width: 100vw;
        /* background: transparent 0% 0% no-repeat padding-box; */
        opacity: 1;
        padding: 0px 20px;
    }
    .fwork-top-gotham {
        /* padding: 0px 120px; */
        padding: 0px 16px;
    }

    .fwork-image-slide-brand {
        width: 100vw;
        height: 165px;
        /* background: transparent 0% 0% no-repeat padding-box; */
        opacity: 1;
        padding: 0px 20px;
    }
    .fwork-icon-idea {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 25px;
        margin: auto 10px;
    }
    .fwork-image-idea {
        width: 100vw;
        height: 200px;
        padding: 0px;
    }
    .fwork-idea-concept {
        width: 40px;
        height: 40px;
    }
    .idea-concept {
        color: #000;
        margin: auto 10px;
    }
    .fwork-brand-logo {
        width: 300;
        height: 50px;
    }
    .fwork-orange {
        width: 50vw;
        background: #FF8700 0% 0% no-repeat;
        height: 98px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fwork-red {
        width: 25vw;
        height: 98px;
        background: #D31E01 0% 0% no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fw-brand-var {
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .fwork-grey {
        width: 25vw;
        height: 98px;
        background: #333333 0% 0% no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fwork-orange-red {
        width: 75vw;
        height: 10px;
        background: transparent linear-gradient(90deg, #FF8700 0%, #D31E01 100%) 0% 0% no-repeat;
    }
    .fwork-grey-footer {
        width: 25vw;
        height: 10px;
        /* height: 30px; */
        background: #333333 0% 0% no-repeat;
    }
    .fwork-orange>p, .fwork-red>p, .fwork-grey>p {
        color: #fff;
        line-height: 20px;
        font-size: 18px;
    }
    .fwork-image-slide-conthrax {
        /* width: 210px;
        height: 200px;
        padding: 0px;
        padding-left: 16px; */
        width: 100%;
        height: 200px;
        padding-left: 16px;
    }
    .fwork-image-slide-gotham {
        /* width: 135px;
        height: 169px;
        padding-right: 10px;
        margin-left: 20px;
        border: 1px solid #E2E2E2; */
        width: 135px;
        height: 169px;
        border: 1px solid #E2E2E2;
    }
    .fwork-stationery {
        /* display: flex; */
        width: 100vw;
        align-items: center;
        justify-content: center;
        padding: 0px;
        z-index: 30;
    }
    .fwork-image-stationery {
        /* margin-top: 0;
        padding: 0;
        width: 60vw;
        height: 200px;
        padding: 0px; */
        margin-top: 0;
        padding: 0;
        width: 100vw;
        height: 50vh;
        padding: 0px;
    }
    .fwork-image-stationery-2 {
        /* width: 40vw;
        height: 200px; */
        width: 100vw;
        height: 50vh;
    }
    .fwork-image-slide-stationery {
        /* width: 100vw;
        height: 250px;
        padding: 0px; */
        width: 100vw;
        height: 50vh;
        padding: 0px;
    }
    .fwork-image-slide-stationery-3 {
        /* width: 50vw;
        height: 250px;
        padding: 0px; */
        width: 100vw;
        height: 50vh;
        padding: 0px;
    }
    .fwork-image-slide-stationery-5 {
        width: 100vw;
        height: 40vh;
        /* padding: 0px; */
    }
    .fwork-image-slide-stationery-4 {
        /* width: 33.33vw;
        height: 230px;
        padding: 0px; */
        width: 100vw;
        height: 55vh;
        padding: 0px;
    }
    .fwork-image-slide-stationery-6_1 {
        height: 35vh;
        width: 100vw;
    }
}